* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;
    color: white;
}

main {
    min-height: 500px;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

section {
    width: 300px;

    padding: 20px;

    border: 2px solid #333;
    background-color: #f2f2f2;
}

footer {
    width: 100%;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #333;
    color: white;
}
